* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #2d3e50;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    overflow: hidden;
}

img {
    height: clamp(4rem, 3.4643rem + 1.4286vw, 4.625rem);
    width: auto;
}

.tree {
    position: relative;
    text-align: center;
}

.star {
    font-size: 3rem;
    color: gold;
    position: relative;
    z-index: 10;
    margin-bottom: -30px;
    animation: blinker 1s linear infinite;
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
    z-index: -10;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
    border-radius: 30px;
    z-index: 100;
}

.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -20px;
    border-radius: 30px;
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
    border-radius: 30px;
    z-index: -100;
}

.trunk {
    width: 40px;
    height: 50px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 20px rgb(254, 255, 183);
}

/* BLINKER */
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
    
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* LAYER 1 */
.layer1 .red {
    background-color: red;
    left: 0;
    inset: 15px 0 0 2px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    animation: blinker 2s linear infinite;
}
.layer1 .green {
    background-color: green;
    right: 0;
    margin: 25px 23px 0 0;
    animation: blinker 3s linear infinite;
}
.layer1 .blue {
    background-color: blue;
    left: 0;
    margin: 25px 0 0 23px;
    animation: blinker 2s linear infinite;
}

/* LAYER 2 */
.layer2 .red {
    background-color: red;
    margin: 100px 0 0 0;
    animation: blinker 3s linear infinite;
}
.layer2 .blue {
    background-color: blue;
    margin: 90px 0 0 70px;
    animation: blinker 2s linear infinite;
}
.layer2 .yellow {
    background-color: yellow;
    right: 0;
    margin: 100px 80px 0 0;
    animation: blinker 3s linear infinite;
}
.layer2 .pink {
    background-color: pink;
    right: 0;
    margin: 80px 24px 0 0;
    animation: blinker 2s linear infinite;
}
.layer2 .purple {
    background-color: purple;
    right: 0;
    margin: 130px 120px 0 0;
    animation: blinker 3s linear infinite;
}
.layer2 .green {
    background-color: green;
    left: 0;
    margin: 130px 0 0 120px;
    animation: blinker 2s linear infinite;
}
.layer2 .orange {
    background-color: orange;
    left: 0;
    animation: blinker 3s linear infinite;
}
.layer2 .red1 {
    background-color: red;
    left: 0;
    margin: 50px 0 0 40px;
    animation: blinker 2s linear infinite;
}
.layer2 .blue1 {
    background-color: blue;
    left: 0;
    margin: 130px 0 0 50px;
    animation: blinker 3s linear infinite;
}
.layer2 .yellow1 {
    background-color: yellow;
    right: 0;
    margin: 38px 20px 0 0;
    animation: blinker 2s linear infinite;
}
.layer2 .pink1 {
    background-color: pink;
    right: 0;
    margin: 120px 30px 0 0;
    animation: blinker 3s linear infinite;
}
.layer2 .purple1 {
    background-color: purple;
    margin: 40px 0 0 2px;
    animation: blinker 2s linear infinite;
}



/* LAYER 3 */
.layer3 .red {
    background-color: red;
    margin: 100px 0 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .blue {
    background-color: blue;
    margin: 100px 0 0 70px;
    animation: blinker 3s linear infinite;
}
.layer3 .yellow {
    background-color: yellow;
    right: 0;
    margin: 100px 70px 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .pink {
    background-color: pink;
    right: 0;
    margin: 80px 24px 0 0;
    animation: blinker 3s linear infinite;
}
.layer3 .purple {
    background-color: purple;
    right: 0;
    margin: 130px 120px 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .green {
    background-color: green;
    left: 0;
    margin: 130px 0 0 120px;
    animation: blinker 3s linear infinite;
}
.layer3 .orange {
    background-color: orange;
    left: 0;
    margin: 80px 0 0 30px;
    animation: blinker 2s linear infinite;
}
.layer3 .red1 {
    background-color: red;
    left: 0;
    margin: 50px 0 0 40px;
    animation: blinker 3s linear infinite;
}
.layer3 .blue1 {
    background-color: blue;
    right: 0;
    margin: 169px 140px 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .yellow1 {
    background-color: yellow;
    right: 0;
    margin: 38px 20px 0 0;
    animation: blinker 3s linear infinite;
}
.layer3 .pink1 {
    background-color: pink;
    right: 0;
    margin: 120px 30px 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .purple1 {
    background-color: purple;
    left: 0;
    margin: 160px 80px;
    animation: blinker 3s linear infinite;
}
.layer3 .green1 {
    background-color: green;
    right: 0;
    margin: 170px 60px 0 0;
    animation: blinker 2s linear infinite;
}
.layer3 .orange1 {
    background-color: orange;
    margin: 140px 0 0 0;
    animation: blinker 3s linear infinite;
}
.layer3 .green2 {
    background-color: green;
    left: 0;
    margin: 175px 0 0 140px;
    animation: blinker 2s linear infinite;
}

/* SNOW */

.snow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: snow-direction cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
  }
  
  @keyframes snow-direction {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
  }
  
  .snow:before,
  .snow:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(1px);
    animation: snow 10s linear infinite;
    box-shadow:
      -5vw 10vh #fff,
      30vw 5vh #fff,
      55vw 5vh #fff,
      75vw 10vh #fff,
      105vw 15vh #fff,
      -10vw 30vh #fff,
      40vw 25vh #fff,
      60vw 20vh #fff,
      90vw 25vh #fff,
      20vw 40vh #fff,
      5vw 45vh #fff,
      65vw 45vh #fff,
      105vw 40vh #fff,
      50vw 50vh #fff,    
      30vw 50vh #fff,
      10vw 55vh #fff,
      20vw 60vh #fff,
      40vw 65vh #fff,
      60vw 60vh #fff,
      80vw 65vh #fff,
      5vw 70vh #fff,
      30vw 75vh #fff,
      55vw 85vh #fff,
      75vw 80vh #fff,
      105vw 75vh #fff,
      20vw 90vh #fff,
      -5vw 95vh #fff,
      65vw 95vh #fff,
      100vw 90vh #fff,
      
      -5vw 110vh #fff,
      30vw 105vh #fff,
      55vw 105vh #fff,
      75vw 110vh #fff,
      105vw 115vh #fff,
      -10vw 130vh #fff,
      40vw 125vh #fff,
      60vw 120vh #fff,
      90vw 125vh #fff,
      20vw 140vh #fff,
      5vw 145vh #fff,
      65vw 145vh #fff,
      105vw 140vh #fff,
      50vw 150vh #fff,    
      30vw 150vh #fff,
      10vw 155vh #fff,
      20vw 160vh #fff,
      40vw 165vh #fff,
      60vw 160vh #fff,
      80vw 165vh #fff,
      5vw 170vh #fff,
      30vw 175vh #fff,
      55vw 185vh #fff,
      75vw 180vh #fff,
      105vw 175vh #fff,
      20vw 190vh #fff,
      -5vw 195vh #fff,
      65vw 195vh #fff,
      100vw 190vh #fff;
  }
  
  .snow:after {
    left: 50px;
    top: 60px;
    animation-duration: 6s;
    width: 8px;
    height: 8px;
    opacity: 0.7;
    filter: blur(3px);
  }
  
  @keyframes snow {
    from {
      transform: rotate(10deg) translateY(-100vh);
    }
    to {
      transform: rotate(10deg) translateY(0);
    }
  }

